body{
    height: 900px;
}
.navbar, .navbar-expand-lg, .navbar-light, .bg-light{
    background-color: wheat;
}

.navbar-nav{
    position: fixed;
  right: 120px;
  
  
}
.shahrooz{
    position: relative;
    left: 80px;
}
section{
    background-color: black;
    height: 600px;  
    margin: 100px 0 15px 0;
}
.me{
    color: white;
    text-align: center;
    line-height: 75px;
}

/* .col-3{
    background-color: pink;
    height: 450px;
} */
.col-8{
    background-color: #a7a7a747;
    height: 450px;
    border-radius: 15px;
    color:wheat;
}
.hidden{
    display: none;
}
img {
    border-radius: 15px;
    margin-top: 65px
}
hr{
    background-color: wheat;
}