body{
    height: 900px;
    font-family: 'Montserrat', sans-serif;
}
.navbar, .navbar-expand-lg, .navbar-light, .bg-light{
    background-color: wheat;
    border: 2px solid black; 
}

.navbar-nav{
    position: static;
  margin-left: 80%;
    
}
 .nav-link{

font-weight: bold;
}
.shahrooz{
    position: relative;
    left: 10px;
    font-weight: bold;
}
section{
    background-color: black;
    height: 800px;  
    margin: 100px 0 15px 0;
}
.me{
    color: wheat;
    text-align: center;
    line-height: 75px;
}

/* .col-3{
    background-color: pink;
    height: 450px;
} */
.col-12{
    background-color: #a7a7a747;
    height: 450px;
    border-radius: 15px;
    color:wheat;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    width: 900px;
}


.hidden{
    display: none;
}

img{
    margin-left: 60px;
    border-radius: 50%;
    border: 2px solid black;
}
hr{
    background-color: wheat;
}
